.msg_warning {
	color: #da5656;
	border: 1px solid #da5656;
	background-color: #5f2626;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}

.button {
	color: white;
}

input {
	border-radius: 3px;
}

#id_username, #id_password {
	width: 150px;
}

.user_input{
	margin-bottom: 10px;
}

.input_wrapper {
	text-align: left;
}