.messages {
	list-style: none;
}
#msg {
	position: absolute;
	top: 50px;
	left: 45px;
	border: 2px solid #2bb79e;
	background-color: #2c7466;
	border-radius: 10px;
	padding: 7px;
	display: table-cell;
	font-size: 20px;
}
#close_btn {
	cursor: pointer;
}
.error {
	border: 2px solid #b72b2b !important;
	background-color: #742c2c !important;
}