.about{
	width:100%;
	min-height:200px;
	padding: 6em 0 0;
}
.about-us h2{
	margin: 0 0 0.5em;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
}
.about-us p{
	color:#7C878F;
	font-size:20px;
	margin-bottom: 10px;
}
.about-us span{
	color: rgba(255,255,255,0);
}
.about-creator img {
	border-radius: 30%;
	border: 2px solid #303030;
	width: 75%;
	height: 75%;
}
.creator-socials img {
	border: none;
	border-radius: 2px;
	width: 15px;
	height: 15px;
}
.creator-info {
	margin-bottom: 4px;
}
.e_link {
	padding: 0px;
	display: contents;
}