{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/menu.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>

    <body>
        {% include 'header.html' %}
		{% include 'messages.html' %}
		
		<main>
		    {% block content %}
		    {% endblock %}
		</main>
		
		<footer>
			{% include 'footer.html' %}
		</footer>
    </body>
</html>