{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/contacts.css' %}">

<body>
	<h1>Контакты</h1>
	<hr>

	<div class="post cl_container">
		<h2 class="post_title">"Контакты с группой"</h2>
		<p><span class="post_date">January 25, 2018</span> by <span class="post_author"><i>Fedro</i></span></p>

		<p>По всем появившимся вопросам, предложениям и жалобам, относящимся к контенту сайта, можно связаться с нами через:</p>
		<br>
		<div class="contacts">
			<div class="gmail method inline">
				<div class="col_space">
					<a href="mailto:bladeknowgroup@gmail.com" target="_blank">
						<img class="method_img_alt" src="{% static 'logos/gmail_logo.png' %}"><br>
						<span><b>Gmail, Почта</b></span><br>
						<span class="method_address">help.cutaway@gmail.com</span>
					</a>
				</div>
			</div>

			<div class="vk method inline">
				<div class="col_space">
					<a href="https://vk.com/thebrushcoder" target="_blank">
						<img class="method_img" src="{% static 'logos/vk_logo.png' %}"><br>
						<span><b>ВКонтакте</b></span><br>
						<span class="method_address">Никита</span>
					</a>
				</div>
			</div>

			<div class="vk method inline">
				<div class="col_space">
					<a href="https://vk.com/id388390421" target="_blank">
						<img class="method_img" src="{% static 'logos/vk_logo.png' %}"><br>
						<span><b>ВКонтакте</b></span><br>
						<span class="method_address">Константин</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}