{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	</head>
	
	<style>
	.hidden {
		display: none;
	}
	</style>
	
	<script>
		var n = 2
		function add_variant(){
			if (n < 10){
				n++;
				document.getElementById(n+'').style.display = 'block';
			}
		}
		function del_variant(){
			if (n > 2){
				document.getElementById(n+'').style.display = 'none';
				n--;
			}
		}
	</script>
	
	<body>
		{% include "menu.html" %}
		<h1>{{main_header}}</h1>
		<hr>
		<form action="create/" method="POST">
			{% csrf_token %}
			<div id='pool_name'>
				{{ form.name.label }}<br>
				{{ form.name }}<br>
			</div>
			<div id='default_variants'>
				{{ form.variant_1.label }}<br>
				{{ form.variant_1 }}<br>
				{{ form.variant_2.label }}<br>
				{{ form.variant_2 }}<br>
			</div>
			<div id='additional_variants'>
				<div id='3' class="hidden">
					{{ form.variant_3.label }}<br>
					{{ form.variant_3 }}
				</div>
				<div id='4' class="hidden">
					{{ form.variant_4.label }}<br>
					{{ form.variant_4 }}
				</div>
				<div id='5' class="hidden">
					{{ form.variant_5.label }}<br>
					{{ form.variant_5 }}
				</div>
				<div id='6' class="hidden">
					{{ form.variant_6.label }}<br>
					{{ form.variant_6 }}
				</div>
				<div id='7' class="hidden">
					{{ form.variant_7.label }}<br>
					{{ form.variant_7 }}
				</div>
				<div id='8' class="hidden">
					{{ form.variant_8.label }}<br>
					{{ form.variant_8 }}
				</div>
				<div id='9' class="hidden">
					{{ form.variant_9.label }}<br>
					{{ form.variant_9 }}
				</div>
				<div id='10' class="hidden">
					{{ form.variant_10.label }}<br>
					{{ form.variant_10 }}
				</div>
			</div>
			<br>
			<input type="submit" value="Создать!">
			<input type="button", value="Добавить поле", onclick="add_variant()">
			<input type="button", value="Убрать поле", onclick="del_variant()">
		</form>
	</body>
</html>