{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/pages/creators.css' %}" rel="stylesheet"/>

<body>
	<h1>О нас</h1>
	<hr>

	<div class="about-us">
		<center>
			<h1>"Лезвие Знаний", МШП 301-08</h2>
			<p>"Работали все"<br><span>но реально тащил за всю команду один :(</span></p>
		</center>
	</div>

	<div class="about-grid">
		<center>

		{% for author in authors %}
			<div class="about-creator inline cl_container">
				<img src="/static/images/{{ author.photopath }}"><br>
				<b>{{ author.nickname }}</b>
				({{ author.role|safe }})
				<div class="creator-info">
					"{{ author.info|safe }}"
				</div>
				<div class="creator-socials">
					{{ author.social1|safe }}
					{% if author.social2 %}
						<br>{{ author.social2|safe }}
					{% endif %}
					{% if author.social3 %}
						<br>{{ author.social3|safe }}
					{% endif %}
				</div>
			</div>
		{% endfor %}

		</center>
	</div>
</body>
{% endblock %}