{% extends 'base.html' %}

{% block content %}

<body>
	<h1>{{ main_header }}</h1>
	<hr>
	<div class="cl_container">
	<center>
	    <div class="thankful_message">
            Благодаря этой небольшой сумме мы сможем накормить программистов кофе, которое, как известно, превращается в первоклассный код сайта.
			<br><br><b>Огромное спасибо тем, кто поддерживает нас!</b>
		</div>

        <p>
            <a href="/">Здесь вы можете вернуться на главную страницу.</a>
        </p>
	</center>
	</div>
</body>
{% endblock %}