{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/blog.css' %}">

<h1>Главная / Новости сайта</h1>
<hr>

<div class="post cl_container">
<h2 class="post_title">"О сайте"</h2>
<p><span class="post_date">January 25, 2018</span> by <span class="post_author"><i>Fedro</i></span></p>
<p>Этот сайт является сайтом-опросником, где вы можете предложить свои опросы, получить их статистику и сделать выводы о мнениях и предпочтениях людей.</p>

<blockquote class="quote">
<div>
	<p>Сначала мы посчитали этот проект типичной работой, но когда все начали упарываться печеньками и чаем, мы поняли, что из, казалось бы, такого банального проекта, как опросник, можно <strong>выжать все соки и даже больше</strong></p>
</div>
</blockquote>

<p>Первый месяц никто особо и не собирался работать по-жесткому, ибо мы думали, что все будет как с пакманом, как же мы ошибались...</p>
<p>Когда все начали осознавать, в какое болото залезли, было уже все равно, мы были закалённее, чем Уолтер Уайт из "Во все тяжкие", только он варил стопроцентый синий мет, а мы делаем шедевр веб-разработки!</p>
</div>

{% endblock %}