{% extends 'base.html' %}

{% block content %}
<h1><center>Здесь должен быть слайд скроллер</center></h1>

<br><br>

<h2 class="blog-post-title">О сайте</h2>
<p class="blog-post-meta">January 25, 2018 by <a>Fedro</a></p>
<p>Этот сайт является сайтом-опросником, где вы можете предложить свои опросы, получить их статистику и сделать выводы о мнениях и предпочтениях людей.</p>
<blockquote>
          <p>Сначала мы посчитали этот проект типичной работой, но когда мы начали упарываться печеньками и чаем, мы поняли, что из, казалось бы, такого банального проекта, как опросник,<strong> выжать все соки и даже больше</strong></p>
        </blockquote>
        <p>Первый месяц никто особо и не собирался работать по-жесткому, ибо мы думали, что все будет как с пакманом, как же мы ошибались</p>
        <p>Когда мы начали понимать, в какое болото мы залезли, нам уже было все равно, мы были закалённее даже чем тот лысый из "Во все тяжкие", только он делал мет, а мы - шедевр веб разработки!</p>

{% endblock %}