.hidden {
	display: none;
	margin-top: 3px;
}
input {
	border-radius: 3px;
	border-color: #7373ef;
	width: 200px;
}
input:hover {
	border-color: #2929a8;
}
.add_sign {
	padding: 0px;
}
#add_btn, #create_btn {
	display: inline-table;
	margin-right: 5px;
	margin-top: 5px;
	max-width: 100px;
}
.del_btn {
	cursor: pointer;
	color: #ff7979;
}
.variant {
	margin-top: 3px;
}
#default_variants {
	margin-top: 5px;
}
#answer_settings {
	margin-left: 10px;
}
label {
	cursor: pointer;
}
#ch_f {
	padding: 5px;
	border: 2px solid #429c42;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
#ch_t {
	padding: 5px;
	border: 2px solid #429c42;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#id_one_variant {
	display: none;
	width: 10px;
}
#date_time_settings {
	margin-top: 10px;
	margin-bottom: 10px;
}