{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<body>
	<h1>{{ main_header }}</h1>
	<hr>

	<div class="main_text">
		{% if not user.is_authenticated %}
			<form action="/accounts/login/" method="POST">
				{% csrf_token %}
				<div class="cl_container">
					{% if form.errors or error %}
						<div class="msg_warning">Ошибка входа, неверные имя пользователя или пароль!</div>
					{% endif %}
					<center>
					<div class="input_wrapper">
						<div class="user_input">
							{{ form.username.label }}<br>
							{{ form.username }}
						</div>
						<div class="user_input">
							{{ form.password.label }}<br>
							{{ form.password }}
						</div>
					</div>
					<input class="button" type="submit" value="Войти на сайт" style="color: white;">
					</center>
					<div style="margin-top: 10px;">
					    Нет учётной записи? <a href="/accounts/register/" style="text-decoration: underline;">Зарегистрируйтесь!</a>
					</div>
				</div>
			</form>

		{% else %}
			<div class="cl_container">
				<center>
				Вы уже авторизованы как <b>{{ user.username }}</b>, нажмите, чтобы выйти:
				<a style="display: table-cell;" href="{{ menu.5.link }}"><div class="button warn no_select">Выйти</div></a>
				</center>
			</div>
		{% endif %}
	</div>
</body>
{% endblock %}