{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/user.css' %}">

<body>
	<h1>{{ main_header }}</h1>
	<div class="info_wrapper">
		<center><div><img title="Ы" height="100" width="100" src="{% static 'def_user.png' %}" alt="Аватарка"></div></center>
		<div><h3><i class="fa fa-circle fa-xs"></i> Ник на сайте: <span>{{ username }}</span></h3></div>
		<div><h3><i class="fa fa-circle fa-xs"></i> Почта: <span>{{ user_mail }}</span></h3></div>
		<div><h3><i class="fa fa-circle fa-xs"></i> Имя: <span>{{ username }}</span></h3></div>
		<div><h3><i class="fa fa-circle fa-xs"></i> Фамилия: <span>{{ username }}</span></h3></div>
		<div><h3><i class="fa fa-circle fa-xs"></i> Статус: <span>{{ user_status }}<span></h3></div>
	</div>
	
	<center><div class="menu_wrapper">
		<a class="inline" href="{{ menu.7.link }}"><div class="button alter_link no_select">{{ menu.7.text }}</div></a>
		<a class="inline" href="{{ menu.5.link }}"><div class="button alter_link warn no_select">{{ menu.5.text }}</div></a>
	</div></center>

</body>
{% endblock %}