.menu {
	padding-top: 5px;
	position: absolute;
	right: 10%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.topmenu > li {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}
.topmenu > li:last-child {
	margin-right: 0;
}
.fa {
	font-family: FontAwesome;
	color: inherit;
	padding-left: 10px;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
}
.menu ul {
	color: white;
	background-image: linear-gradient(to top, transparent, rgb(143, 143, 143));
	border-radius: 2px;
}
.menu .submenu {
	visibility: hidden;
	opacity: 0;
}
.menu ul li:hover .submenu {
	visibility: visible;
	opacity: 1;
	transition: .2s ease-out;
	background-image: none;
	background-color: transparent;
}

a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	outline: none;
}

.submenu li a {
	border-radius: 3px;
	background-image: linear-gradient(to top, rgb(143, 143, 143), transparent);
}