{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/polls/create.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="{% static 'create_poll.js' %}"></script>
<body>
	<h1>{{main_header}}</h1>
	<hr>
	<div class="cl_container">
	<form action="/polls/create/" method="POST">
		{% csrf_token %}
		<div id='pool_name'>
			{{ form.name.label }}<br>
			{{ form.name }}<br>
		</div>
		<div id='default_variants'>
			Варианты ответов:<br>
			{{ form.variant_1 }}
			<div class="variant">{{ form.variant_2 }}</div>
		</div>
		<div id='3' class="hidden variant">
			{{ form.variant_3 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(3)"></i></span>
		</div>
		<div id='4' class="hidden variant">
			{{ form.variant_4 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(4)"></i></span>
		</div>
		<div id='5' class="hidden variant">
			{{ form.variant_5 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(5)"></i></span>
		</div>
		<div id='6' class="hidden variant">
			{{ form.variant_6 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(6)"></i></span>
		</div>
		<div id='7' class="hidden variant">
			{{ form.variant_7 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(7)"></i></span>
		</div>
		<div id='8' class="hidden variant">
			{{ form.variant_8 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(8)"></i></span>
		</div>
		<div id='9' class="hidden variant">
			{{ form.variant_9 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(9)"></i></span>
		</div>
		<div id='10' class="hidden variant">
			{{ form.variant_10 }}
			<span class="del_btn"><i class="fa fa-trash-alt" onclick="delete_variant(10)"></i></span>
		</div>
		<div class="create_controls">
			<div onclick="add_variant()" class="no_select button" id="add_btn"><i class='fa fa-plus add_sign'></i></div>
			<input class="button no_select inline" id="create_btn" type="submit" value="Создать!">
		</div>
	</form>
	</div>
</body>
{% endblock %}