{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
	.poll_container {
		width: 66%;
		padding-top: 5px;
		padding-right: 15px;
		padding-bottom: 3px;
		
		margin-left: 50px;
		margin-bottom: 10px;
		
		border-radius: 5px;
		background-color: #BCD9F2;
		color: black;
	}
	.poll_name {
		padding: 5px;
		padding-left: 25px;
		
		margin-bottom: 3px;
		margin-left: 15px;
		
		border-radius: 5px;
		background-color: #F0F8FF;
	}
	.variant_container {
		padding-left: 10px;
		
		margin-right: 50px;
		margin-bottom: 3px;
		
		border-radius: 5px;
		background-color: #F0F8FF;
	}
</style>

	
<body>
	<h1>{{main_header}}</h1>
	<hr>
	
	<ul>
	{% for poll in polls%}
		<li>{{ poll.1.name }}</li>
		<ul>
			{% for variant in poll.0 %}
				<a href = "/" >{{ variant.variant_name }}</a>
				Количество голосов: <b id = "{{ variant.variant_name }}counter">{{ variant.votes }}</b>
				<progress class="progress progress-info" value="{{ variant.votes }}" max="100" id = "{{ variant.variant_name }}progress"></progress>
				<b id="{{ variant.variant_name }}vote"></b>
			{% endfor %}
		</ul>
	{% endfor %}
	</ul>

</body>
{% endblock %}
