{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/polls/poll.css' %}">

<style>
	.pb_wrapper{
		margin-top: 4px;
		margin-bottom: 4px;
		margin-right: 10%;
		margin-left: 15px;
	}
	.pb{
		border-radius: 5px;
		background-color: #577798;
	}
	.report{
		margin-right: 5px;
		margin-left: auto;
		font-size: 12px;
		padding: 4px;
	}
	.cl_container form p a{
	    display: contents;
	    padding: 0px;
	}
</style>

<body>
	<h1>{{main_header}}</h1>
	<hr>
		<div class="cl_container">
		<form action="." method="POST">
			{% csrf_token %}
			<h2>{{ poll.name }}</h2>
			<p><b><a href="/accounts/user/{{ poll.author.id }}/">by @{{ poll.author }}</a></b></p>

			{% if poll.one_answer %}
				<ul>
					{% for poll_variant in poll_variants %}
					<li>
						{% if not voted and not closed and user.is_authenticated %}
							<input type="radio" name="poll" value="variant_{{ poll_variant.2 }}"> {{ poll_variant.0.variant_name }}<br>
						{% else %}
							<span>{{ poll_variant.0.variant_name }}</span>
						{% endif %}

						<div class="pb_wrapper">
							<div class="pb" style="width: {{ poll_variant.1 }}; min-width: 50px;"><center><nobr>{{ poll_variant.1 }}</nobr></center></div>
						</div>
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<ul>
					{% for poll_variant in poll_variants %}
					<li>
						{% if not voted and not closed and user.is_authenticated %}
							<input type="checkbox" name="variant_{{ poll_variant.2 }}"> {{ poll_variant.0.variant_name }}<br>
						{% else %}
							<span>{{ poll_variant.0.variant_name }}</span>
						{% endif %}

						<div class="pb_wrapper">
							<div class="pb" style="width: {{ poll_variant.1 }}; min-width: 50px;"><center><nobr>{{ poll_variant.1 }}</nobr></center></div>
						</div>
					</li>
					{% endfor %}
				</ul>
			{% endif %}

            {% if user.is_authenticated %}
                {% if voted %}
                    <i style="color: grey; margin-top: 5px;">Вы уже проголосовали</i>
			    {% elif closed %}
				    <i style="color: grey; margin-top: 5px;">Опрос закрыт</i>
			    {% else %}
			        <input class="button" type="submit" value="Пролосовать" style="margin-top: 5px;">
			    {% endif %}
			{% else %}
			    <i style="color: grey; margin-top: 5px;"><a href="/accounts/login/" style="display: contents;">Войдите,</a> чтобы проголосовать</i>
			{% endif %}


			<a class="button warn report" href="/polls/add_report/{{ poll_hash }}/">Пожаловаться на опрос</a>
		</form>
		</div>
</body>
{% endblock %}