{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
	#wrapper {
		background-color: #577798;
		border-radius: 10px;
	}
	.post {
		border-bottom: 1px solid #1b2036;
	}
	.post a h4 {
		text-transform: uppercase;
	}
	.post a span {
		text-transform: none;
	}
	.post:last-child {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom: none;
	}
	.post:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.post:hover {
		background-color: #34689e;
	}
	b {
		color: white;
	}
	.poll_date{
		float: right;
		white-space: nowrap;
	}
</style>

<body>
	<h1>{{main_header}}</h1>
	<hr>
	{% if polls %}
		<div id="wrapper">
			{% for poll in polls %}
			<div class="post">
				<a href="/poll/{{ poll.1.hash_id }}/">
					<h4>"{{ poll.1.name }}"</h4>
					<span>Автор: <b>@{{ poll.1.author }}</b></span>
					<span class="poll_date"><i>{{ poll.1.date }}</i></span>
				</a>
			</div>
			{% endfor %}
		</div>
	{% else %}
		<p style="color:gray;"><i>Пока что тут пустовато...</i> Бегите быстрее создавать опросы, чтобы увидеть их тут.</p>
	{% endif %}
</body>
{% endblock %}










