{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/polls/poll.css' %}">
<body>
	<h1>{{main_header}}</h1>
	<hr>
		<div class="cl_container">
		<form action="." method="POST">
			{% csrf_token %}
			<h2>{{ poll.name }}</h2>
			
			{% if poll.one_answer %}
				<ul>
					{% for poll_variant in poll_variants %}
						<input type="radio" name="poll" value="variant_{{ poll_variant.2 }}"> {{ poll_variant.0.variant_name }}<br>
						<div class="pb_wrapper">
							<div class="pb"><nobr>{{ poll_variant.1 }}</nobr></div>
						</div>
					{% endfor %}
				</ul>
			{% else %}
				<ul>
					{% for variant in poll.0 %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if not voted %}
				<input class="button" type="submit" value="Пролосовать" style="margin-top: 5px;">
			{% endif %}
		</form>
		</div>
</body>
{% endblock %}